/*ans-1*/
.box > .text  {
    background-color: rgb(28, 133, 133);
  }
  /*ans-2*/
.container .content {
    color: red;
}
/*ans-3*/
.parent .child ~ .sibling {
    background-color: rgb(207, 83, 33);
}
/*ans-4*/
.box + div {
    color: rgb(2, 2, 35);
  }
  .wrapper > .content + .content {
    background-color: rgb(81, 111, 35);

  }